{% extends "base.html" %}
<!--  -->
{% block content %}
<div class="hero">
  <div class="container hero-body">
    <div class="column is-4 is-offset-4">
      <h1 class="title has-text-centered">Sing In</h1>
      <div class="">

        <!-- form -->
        <form action="" method="POST">
          {{ form.hidden_tag() }}

          <!-- username -->
          <div class="field">
            <label>{{ form.username.label }}</label>
            {% if form.username.errors %}
            <!--  -->
            {{ form.username(class="input is-danger") }}
            <div class="">
              {% for error in form.username.errors %}
              <p class="help is-danger">{{ error }}</p>
              {% endfor %}
            </div>
            {% else %}
            <p>{{ form.username(class="input") }}</p>
            {% endif %}
          </div>

          <!-- password -->
          <div class="field">
            <label>{{ form.password.label }}</label>
            {% if form.password.errors %}
            <!--  -->
            {{ form.password(class="input is-danger") }}
            <div class="">
              {% for error in form.password.errors %}
              <p class="help is-danger">{{ error }}</p>
              {% endfor %}
            </div>
            {% else %}
            <p>{{ form.password(class="input") }}</p>
            {% endif %}
          </div>
          <p class="control">{{ form.remember_me() }} {{ form.remember_me.label }}</p>
      </div>

      <div class="field">
        <p class="control">
          <button class="button is-active is-fullwidth">Login</button>
        </p>
      </div>
      </form>
    </div>
  </div>
</div>
</div>
{% endblock content %}