{% extends "base.html" %}
<!--  -->
{% from "auth/_formhelper.html" import render_field %}
<!--  -->
{% block content %}
<div class="hero">
  <div class="container hero-body">
    <div class="column is-4 is-offset-4">
      <h1 class="title has-text-grey has-text-centered">Register</h1>
      <div class="box">
        <form action="" method="POST">
          {{ form.hidden_tag() }}
          <div class="field">
            <p class="control">
              {{ render_field(form.username, class_="input") }}
            </p>
          </div>
          <div class="field">
            <p class="control">
              {{ render_field(form.email, class_="input") }}
            </p>
          </div>
          <div class="field">
            <p class="control">
              {{ render_field(form.password, class_="input") }}
            </p>
          </div>
          <div class="field">
            <p class="control">
              {{ render_field(form.password2, class_="input") }}
            </p>
          </div>
          <div class="field">
            <p class="control">
              <button class="button is-success is-block is-large is-fullwidth">
                Submit
              </button>
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}