{% extends "base.html" %}
<!--  -->
{% block content %}
<div class="hero">
  <div class="container hero-body">
    <div class="column is-4 is-offset-4">
      <h1 class="title has-text-grey has-text-centered">Administrator Register</h1>
      <form action="" method="POST" autocomplete="off">
        {{ form.hidden_tag() }}
        <div class="field">
          <p class="control">
            {{ form.username(class="input", placeholder="username", autocomplete="off") }}
          </p>
        </div>
        <br>
        <div class="field">
          <p class="control">
            {{ form.email(class="input", placeholder="email", autocomplete="off") }}
          </p>
        </div>
        <br>
        <div class="field">
          <p class="control">
            {{ form.password(class="input", placeholder="password", autocomplete="off") }}
          </p>
        </div>
        <br>
        <div class="field">
          <p class="control">
            {{ form.password2(class="input", placeholder="password2", autocomplete="off") }}
          </p>
        </div>
        <br>
        <div class="field">
          <p class="control">
            <button class="button is-fullwidth">
              Submit
            </button>
          </p>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock content %}