{% extends "base.html" %}
<!--  -->
{% block content %}
<div class="hero">
  <div class="container hero-body">
    <div class="column is-4 is-offset-4 box">
      <br>
      <h1 class="title has-text-centered">Reset Your Password</h1>
      <div class="">

        <!-- form -->
        <form action="" method="POST">
          {{ form.hidden_tag() }}

          <!-- password -->
          <div class="field">
            <label>{{ form.password.label }}</label>
            <p>{{ form.password(class="input") }}</p>
            {% for error in form.password.errors %}
            <span class="help" style="color: red;">{{ error }}</span>
            {% endfor %}
          </div>

          <!-- password2 -->
          <div class="field">
            <label>{{ form.password2.label }}</label>
            <p>{{ form.password2(class="input") }}</p>
            {% for error in form.password2.errors %}
            <span class="help" style="color: red;">{{ error }}</span>
            {% endfor %}
          </div>

          <!-- reset password -->
          <div class="field">
            <p class="control">
              <button class="button is-active is-fullwidth">Reset Password</button>
            </p>
          </div>
          <br>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}