[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dotenv = "*"
flask-wtf = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-login = "*"
flask-moment = "*"
requests = "*"
flask-mail = "*"
pyjwt = "*"
mistune = "*"
flask-markdown = "*"
pytest = "*"
elasticsearch = "*"
flake8 = "*"

[dev-packages]
"flake8" = "*"
"autopep8" = "*"
black = "*"

[requires]
python_version = "3.7"
