<aside class="menu box">
  <p class="menu-label">
    Blog
  </p>
  <ul class="menu-list">
    <li>
      <a href="{{ url_for('dashboard.overview') }}" class="{{ overview_active }}">Overview</a>
    </li>
    <li>
      <a href="{{ url_for('dashboard.new_post') }}" class="{{ post_active }}">New Article</a>
    </li>
    <li>
      <a href="{{ url_for( 'dashboard.edit_profile', username=current_user.username) }} " class="{{ edit_active }} ">Edit Profile </a>
    </li>
  </ul>
  <p class="menu-label">
    Administration
  </p>
  <ul class="menu-list">
    <li>
      <a href="{{ url_for('dashboard.manage_articles') }}" class="{{ articles_active }} ">Manage Articles</a>
    </li>
    <li>
      <a href="{{ url_for('dashboard.manage_users') }}" class="{{ users_active }}">Manage Users</a>
    </li>
    <li>
      <a href="{{ url_for( 'dashboard.add_user') }}" class="{{ add_active }} ">Add User</a>
    </li>
  </ul>
</aside>