{% extends "base.html" %}
<!--  -->
{% block content %}
<section class="section container">
  <div class="columns">

    <!-- dashboard menu -->
    <div class="column is-one-quarter">
      {% include 'dashboard/_dash_menu.html' %}
    </div>

    <!-- dashboard content -->
    <div class="column is-5 is-offset-1">
      <div class=" ">
        <form action="" method="POST">
          {{ form.hidden_tag() }}

          <!-- username -->
          <div class="field">
            <label>{{ form.username.label }}</label>
            {% if form.username.errors %}
            <!--  -->
            {{ form.username(class="input is-danger") }}
            <div class="">
              {% for error in form.username.errors %}
              <p class="help is-danger">{{ error }}</p>
              {% endfor %}
            </div>
            {% else %}
            <p class="control">{{ form.username(class="input") }}</p>
            {% endif %}
          </div>

          <!-- email -->
          <div class="field">
            <label>{{ form.email.label }}</label>
            {% if form.email.errors %}
            <!--  -->
            {{ form.email(class="input is-danger", type="email") }}
            <div class="">
              {% for error in form.email.errors %}
              <p class="help is-danger">{{ error }}</p>
              {% endfor %}
            </div>
            {% else %}
            <p class="control">{{ form.email(class="input", type="email") }}</p>
            {% endif %}
          </div>

          <!-- password -->
          <div class="field">
            <label>{{ form.password.label }}</label>
            {% if form.password.errors %}
            <!--  -->
            {{ form.password(class="input is-danger") }}
            <div class="">
              {% for error in form.password.errors %}
              <p class="help is-danger">{{ error }}</p>
              {% endfor %}
            </div>
            {% else %}
            <p class="control">{{ form.password(class="input") }}</p>
            {% endif %}
          </div>

          <!-- password 2 -->
          <div class="field">
            <label>{{ form.password2.label }}</label>
            {% if form.password2.errors %}
            <!--  -->
            {{ form.password2(class="input is-danger") }}
            <div class="">
              {% for error in form.password2.errors %}
              <p class="help is-danger">{{ error }}</p>
              {% endfor %}
            </div>
            {% else %}
            <p class="control">{{ form.password2(class="input") }}</p>
            {% endif %}
          </div>

          <!-- register button -->
          <div class="field">
            <p class="control">
              <button class="button is-active">
                Add User
              </button>
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock content %}