{% extends "base.html" %} {% block content %} {% from "auth/_formhelper.html" import render_field %}

<section class="section container">
  <div class="columns">

    <!-- dashboard menu -->
    <div class="column is-one-quarter">
      {% include 'dashboard/_dash_menu.html' %}
    </div>

    <!-- dashboard content -->
    <div class="column">
      <div class="column is-7 is-offset-2">
        <form action="" method="POST">
          {{ form.hidden_tag() }}

          <!-- username -->
          <div class="field">
            <label>{{ form.username.label }}</label>
            <p class="control">
              {{ render_field(form.username, class_="input") }}
            </p>
          </div>

          <!-- email -->
          <div class="field">
            <label>{{ form.email.label }}</label>
            <p class="control">
              {{ render_field(form.email, class_="input", type="email") }}
            </p>
          </div>

          <!-- password -->
          <div class="field">
            <label>{{ form.password.label }}</label>
            <p class="control">
              {{ render_field(form.password, class_="input") }}
            </p>
          </div>

          <!-- password 2 -->
          <div class="field">
            <label>{{ form.password2.label }}</label>
            <p class="control">
              {{ render_field(form.password2, class_="input") }}
            </p>
          </div>

          <!-- register button -->
          <div class="field">
            <p class="control">
              <button class="button is-active">
                Add User
              </button>
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

{% endblock %}