{% extends "base.html" %} {% block content %} {% from "auth/_formhelper.html" import render_field %}

<!-- submenu -->
<section class="section">
  <nav class="breadcrumb is-centered is-medium" aria-label="breadcrumbs">
    <ul>
      <li>
        <a href="{{ url_for('dashboard.overview') }}">Overview</a>
      </li>
      <li>
        <a href="{{ url_for('dashboard.edit_profile') }}">Edit Profile</a>
      </li>
      <li>
        <a href="#">New Post</a>
      </li>
      <li class="is-active">
        <a href="{{ url_for('dashboard.add_user') }}" aria-current="page">Add User</a>
      </li>
    </ul>
  </nav>
</section>

<!-- add user form -->
<div class="column is-4 is-offset-4">
  <form action="" method="POST">
    {{ form.hidden_tag() }}

    <!-- username -->
    <div class="field">
      <label>{{ form.username.label }}</label>
      <p class="control">
        {{ render_field(form.username, class_="input is-info") }}
      </p>
    </div>

    <!-- email -->
    <div class="field">
      <label>{{ form.email.label }}</label>
      <p class="control">
        {{ render_field(form.email, class_="input is-info", type="email") }}
      </p>
    </div>

    <!-- password -->
    <div class="field">
      <label>{{ form.password.label }}</label>
      <p class="control">
        {{ render_field(form.password, class_="input is-info") }}
      </p>
    </div>

    <!-- password 2 -->
    <div class="field">
      <label>{{ form.password2.label }}</label>
      <p class="control">
        {{ render_field(form.password2, class_="input is-info") }}
      </p>
    </div>

    <!-- register button -->
    <div class="field">
      <p class="control">
        <button class="button is-success is-block is-large is-fullwidth">
          Register
        </button>
      </p>
    </div>
  </form>
</div>
{% endblock %}