{% extends "base.html" %} {% block content %} {% from "auth/_formhelper.html" import render_field %}

<section class="section container">
  <div class="columns">

    <!-- dashboard menu -->
    <div class="column is-one-quarter">
      {% include 'dashboard/_dash_menu.html' %}
    </div>

    <!-- dashboard content -->
    <div class="column">

      <form action="" method="POST" class="box">
        {{ form.hidden_tag() }}
        <div class="field">
          <label>{{ form.username.label }}</label>
          <p class="control">
            {{ render_field(form.username, class_="input", type="text") }}
          </p>
        </div>

        <!-- screen name and email -->
        <div class="field is-horizontal">
          <div class="field-body">
            <div class="field">
              <label>{{ form.screen_name.label }}</label>
              <p class="control">
                {{ render_field(form.screen_name, class_="input", type="text") }}
              </p>
            </div>
            <div class="field">
              <label>{{ form.email.label }}</label>
              <p class="control">
                {{ render_field(form.email, class_="input", type="email") }}
              </p>
            </div>
          </div>
        </div>

        <!-- social media -->
        <div class="field is-horizontal">
          <div class="field-body">
            <div class="field">
              <label>{{ form.twitter.label }}</label>
              <p class="control">
                {{ render_field(form.twitter, class_="input", type="url") }}
              </p>
            </div>
            <div class="field">
              <label>{{ form.github.label }}</label>
              <p class="control">
                {{ render_field(form.github, class_="input", type="url") }}
              </p>
            </div>
            <div class="field">
              <label>{{ form.website.label }}</label>
              <p class="control">
                {{ render_field(form.website, class_="input", type="url") }}
              </p>
            </div>
          </div>
        </div>

        <!-- about -->
        <div class="field">
          <label>{{ form.about_me.label }}</label>
          <div class="control">
            {{ render_field(form.about_me, class_="textarea", id="editor") }}
          </div>
        </div>

        <!-- send -->
        <div class="field">
          <p class="control">
            <button class="button is-active">
              Submit
            </button>
          </p>
        </div>
      </form>
    </div>
  </div>
</section>

{% endblock %}