{% extends "base.html" %}
<!--  -->
{% from "auth/_formhelper.html" import render_field %}
<!--  -->
{% block content %}
<section class="section container">
  <div class="columns">
    <!-- dashboard menu -->
    <div class="column is-one-quarter">
      {% include 'dashboard/_dash_menu.html' %}
    </div>

    <!-- dashboard content -->
    <div class="column">
      <form action="" method="POST" class="box">
        {{ form.hidden_tag() }}
        <div class="field">
          <label>{{ form.username.label }}</label>
          {% if form.username.errors %}
          <!--  -->
          {{ form.username(class="input is-danger", type="text") }}
          <div class="">
            {% for error in form.username.errors %}
            <p class="help is-danger">{{ error }}</p>
            {% endfor %}
          </div>
          {% else %}
          <p class="control">{{ form.username(class="input", type="text") }}</p>
          {% endif %}
        </div>

        <!-- screen name and email -->
        <div class="field is-horizontal">
          <div class="field-body">
            <div class="field">
              <label>{{ form.screen_name.label }}</label>
              {% if form.screen_name.errors %}
              <!--  -->
              {{ form.screen_name(class="input is-danger", type="text") }}
              <div class="">
                {% for error in form.screen_name.errors %}
                <p class="help is-danger">{{ error }}</p>
                {% endfor %}
              </div>
              {% else %}
              <p class="control">{{ form.screen_name(class="input", type="text") }}</p>
              {% endif %}
            </div>
            <div class="field">
              <label>{{ form.email.label }}</label>
              {% if form.email.errors %}
              <!--  -->
              {{ form.email(class="input is-danger", type="email") }}
              <div class="">
                {% for error in form.email.errors %}
                <p class="help is-danger">{{ error }}</p>
                {% endfor %}
              </div>
              {% else %}
              <p class="control">{{ form.email(class="input", type="email") }}</p>
              {% endif %}
            </div>
          </div>
        </div>

        <!-- social media -->
        <div class="field is-horizontal">
          <div class="field-body">
            <!-- twitter -->
            <div class="field">
              <label>{{ form.twitter.label }}</label>
              {% if form.twitter.errors %}
              <!--  -->
              {{ form.twitter(class="input is-danger", type="url") }}
              <div class="">
                {% for error in form.twitter.errors %}
                <p class="help is-danger">{{ error }}</p>
                {% endfor %}
              </div>
              {% else %}
              <p class="control">{{ form.twitter(class="input", type="url") }}</p>
              {% endif %}
            </div>
            <!-- github -->
            <div class="field">
              <label>{{ form.github.label }}</label>
              {% if form.github.errors %}
              <!--  -->
              {{ form.github(class="input is-danger", type="url") }}
              <div class="">
                {% for error in form.github.errors %}
                <p class="help is-danger">{{ error }}</p>
                {% endfor %}
              </div>
              {% else %}
              <p class="control">{{ form.github(class="input", type="url") }}</p>
              {% endif %}
            </div>
            <!-- website -->
            <div class="field">
              <label>{{ form.website.label }}</label>
              {% if form.website.errors %}
              <!--  -->
              {{ form.website(class="input is-danger", type="url") }}
              <div class="">
                {% for error in form.website.errors %}
                <p class="help is-danger">{{ error }}</p>
                {% endfor %}
              </div>
              {% else %}
              <p class="control">{{ form.website(class="input", type="url") }}</p>
              {% endif %}
            </div>
          </div>
        </div>

        <!-- about -->
        <div class="field">
          <label>{{ form.about_me.label }}</label>
          <div class="control">
            {{ form.about_me(class="textarea", rows="10") }}
          </div>
        </div>

        <!-- send -->
        <div class="field">
          <p class="control">
            <button class="button is-active">
              Submit
            </button>
          </p>
        </div>
      </form>
    </div>
  </div>
</section>
{% endblock content %}