{% extends "base.html" %}
<!--  -->
{% block content %}
<section class="section container">
  <div class="columns">

    <!-- dashboard menu -->
    <div class="column is-one-quarter">
      {% include 'dashboard/_dash_menu.html' %}
    </div>

    <!-- dashboard content -->
    <div class="column">
      <form method="post">
        {{ form.hidden_tag() }}

        <h1 id="h1Title" class="h1-titles">Title, Summary and Image URL</h1>
        <div id="titleSumImg" class="title-sum-img">
          <!-- title -->
          <div class="field">
            <p class="control">{{ form.title(class="text-field", type="text", placeholder="Title") }}</p>
            {% for error in form.title.errors %}
            <span class="help" style="color: red;">{{ error }}</span>
            {% endfor %}
          </div>

          <!-- Summary -->
          <div class="field">
            <p class="control">{{ form.summary(class="textarea-field", rows=3, type="textarea", placeholder="Article Summary") }}</p>
            {% for error in form.summary.errors %}
            <span class="help" style="color: red;">{{ error }}</span>
            {% endfor %}
          </div>

          <!-- image url -->
          <div class="field">
            <p class="control">{{ form.img_url(class="tags-field", type="text", placeholder="Image URL") }}</p>
            {% for error in form.img_url.errors %}
            <span class="help" style="color: red;">{{ error }}</span>
            {% endfor %}
          </div>
        </div>

        <h1 id="h1Body" class="h1-titles">Article Body</h1>
        <div id="articleBody" class="article-body">
          <!-- post body -->
          <div class="field">
            <div class="control">
              {{ form.post(id="textarea", class="textarea-field", type="textarea", rows=13, placeholder="Markdown Enabled") }}
            </div>
            {% for error in form.post.errors %}
            <span class="help" style="color: red;">{{ error }}</span>
            {% endfor %}
          </div>
        </div>

        <h1 id="h1Tags" class="h1-titles">Tags And Article URL</h1>
        <div id="tagArtUrl" class="tag-url">
          <!-- tags -->
          <div class="field">
            <p class="control">{{ form.tags(class="tags-field",placeholder="Tags: Ex.: python, flask, django", type="text") }}</p>
            {% for error in form.tags.errors %}
            <span class="help" style="color: red;">{{ error }}</span>
            {% endfor %}
          </div>

          <!-- url -->
          <div class="field">
            <p class="control">{{ form.url(class="tags-field", type="text", placeholder="Article URL") }}</p>
            {% for error in form.url.errors %}
            <span class="help" style="color: red;">{{ error }}</span>
            {% endfor %}
            <br>
          </div>
        </div>

        <!-- submit button -->
        <div class="field is-pulled-right">
          <p class="control">
            <button class="submit-button">
              Submit
            </button>
          </p>
        </div>
      </form>
    </div>
  </div>
</section>
<script src={{ url_for( "static", filename="scripts/dashboard.min.js" ) }} charset="utf-8 "></script>
{% endblock content %}