{% extends "base.html" %}
<!--  -->
{% block content %}
<section class="section container">
  <div class="columns">

    <!-- dashboard menu -->
    <div class="column is-one-quarter">
      {% include 'dashboard/_dash_menu.html' %}
    </div>

    <!-- dashboard content -->
    <div class="column">
      <form action="" method="post" class="box">
        {{ form.hidden_tag() }}

        <!-- title -->
        <div class="field">
          <label>{{ form.title.label }}</label>
          <p class="control">{{ form.title(class="input", type="text") }}</p>
          {% for error in form.title.errors %}
          <span class="help" style="color: red;">{{ error }}</span>
          {% endfor %}
        </div>

        <!-- post body -->
        <div class="field">
          <label>{{ form.post.label }}</label>
          <div class="control">
            {{ form.post(class="textarea", rows="10") }}
          </div>
        </div>

        <!-- tags -->
        <div class="field">
          <label>{{ form.tags.label }}</label>
          <p class="control">{{ form.tags(class="input", type="text") }}</p>
          <p class="help">Ex.: python, flask, django</p>
          {% for error in form.tags.errors %}
          <span class="help" style="color: red;">{{ error }}</span>
          {% endfor %}
        </div>

        <!-- submit button -->
        <div class="field">
          <p class="control">
            <button class="button is-active">
              Submit
            </button>
          </p>
        </div>
      </form>
    </div>
  </div>
</section>
{% endblock content %}