{% extends "base.html" %}
<!--  -->
{% block content %}
<section class="section container">
  <div class="columns">

    <!-- dashboard menu -->
    <div class="column is-one-quarter">
      {% include 'dashboard/_dash_menu.html' %}
    </div>

    <!-- dashboard content -->
    <div class="column">

      <form action="" method="post" class="">
        {{ form.hidden_tag() }}

        <!-- title -->
        <div class="field">
          <p class="control">{{ form.title(class="text-field", type="text", placeholder="Title") }}</p>
          {% for error in form.title.errors %}
          <span class="help" style="color: red;">{{ error }}</span>
          {% endfor %}
        </div>

        <!-- post body -->
        <div class="field">
          <div class="control">
            {{ form.post(id="textarea", class="textarea-field", type="textarea", rows=10, placeholder="Markdown Enabled") }}
          </div>
          {% for error in form.post.errors %}
          <span class="help" style="color: red;">{{ error }}</span>
          {% endfor %}
        </div>

        <!-- tags -->
        <div class="field">
          <p class="control">{{ form.tags(class="tags-field",placeholder="Tags: Ex.: python, flask, django", type="text") }}</p>
          {% for error in form.tags.errors %}
          <span class="help" style="color: red;">{{ error }}</span>
          {% endfor %}
        </div>

        <!-- submit button -->
        <div class="field is-pulled-right">
          <p class="control">
            <button class="submit-button">
              Submit
            </button>
          </p>
        </div>
      </form>
    </div>
  </div>
</section>
{% endblock content %}