{% extends "base.html" %} {% block content %}

<section class="section container">
  <div class="columns">

    <!-- dashboard menu -->
    <div class="column is-one-quarter">
      {% include 'dashboard/_dash_menu.html' %}
    </div>

    <!-- dashboard content -->
    <div class="column">

      <!-- post list -->
      <section class="box">
        <div class="columns is-centered">
          <table class="table">
            <thead>
              <tr>
                <th>
                  <abbr title="Date">Id</abbr>
                </th>
                <th>
                  <abbr title="Date">Date</abbr>
                </th>
                <th>
                  <abbr title="Author">Author</abbr>
                </th>
                <th>
                  <abbr title="Title">Title</abbr>
                </th>
                <th>
                  <abbr title="Edit"></abbr>
                </th>
                <th>
                  <abbr title="Delete"></abbr>
                </th>
            </thead>
            <tbody>
              {% for post in my_posts %}
              <tr>
                <td>{{ post.id }}</td>
                <td>{{ moment(post.timestamp).format('L') }}</p>
                </td>
                <td>{{ post.author.screen_name }}</td>
                <td>{{ post.title }}</td>
                <td>
                  <a href="{{ url_for('dashboard.edit_post', id=post.id) }}" class="button is-link">Edit</a>
                </td>
                <td>
                  <form action="{{ url_for('dashboard.delete_post', id=post.id) }}" method=post>
                    <input type="hidden" name="entry_id" value="{{ loop.revindex }}">
                    <button class="button is-danger">Delete</button>
                  </form>

                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </section>
    </div>
  </div>
</section>

{% endblock %}