<div id="bottomModal" class="end-modal has-text-centered is-centered">
  <button id="closeBottomModal" class="delete del is-pulled-right"></button>
  <div class="level">
    <div class="level-item">
      <figure class="image is-48x48">
            <a href="https://twitter.com/pyCheatsheet" target="_blank">
              <img src="{{ url_for( "static", filename="img/twitter.png" ) }}">
            </a>
      </figure>
      <p>Follow us on
        <a href="https://twitter.com/pyCheatsheet" target="_blank">Twitter</a>
        for a daily dose of Python, News and Articles 🖤
        <span class="hide-ctr-z"><br>Use <strong>ctrl+z</strong> to open the <i>quick search</i>.</span>
      </p>
    </div>
  </div>
</div>