<!-- ads -->
<div>
  <br>
  <div id="codefund_ad"></div>
</div><br>

<!-- subscribe -->
<div class="box has-text-centered subs is-hidden-mobile">
  <h3 class="has-text-weight-bold no-newsletter">Newsletters</h3><br>
  <p class="control has-icons-left has-icons-right no-unsubscribe">
  <input class="input" type="email" placeholder="Email" disabled>
  <span class="icon is-small is-left">
    <i class="fas fa-envelope"></i>
  </span>
  </p><br>
  <a class="button is-fullwidth" disabled>Subscribe</a>
  <p class="help has-text-left no-unsubscribe">Unsubscribe any time.</p>
</div><br>

{% if md_body %}
  <!-- table of content -->
  <div class="sticky-index is-hidden-mobile">
    <div id="index" class="box">
      <h3 class="no-newsletter">Table of Content</h3>
      <ul id="indexList"></ul>
    </div><br>

    <!-- tags in articles -->
    {% if g.all_tags %}
      <div>
        <p class="no-unsubscribe">
          <span class="icon">
            <i class="fas fa-tags"></i>
          </span>
          <span aria-hidden="true"></span>
            _Tags:
        </p>
        {% for tag in g.all_tags%}
          <a href="{{ url_for('main.tag', tag=tag.name) }}">
            <span class="tag is-warning tag-page">{{ tag.name }}</span>
          </a>
        {% endfor %}
      </div>
    {% endif %}
  </div>
{% else %}
  <!-- tags -->
  {% if g.all_tags %}
    <div class="is-hidden-mobile">
      <p class="no-unsubscribe">
      <span class="icon">
        <i class="fas fa-tags"></i>
      </span>
      <span aria-hidden="true"></span>
        _Tags:
      </p>
      {% for tag in g.all_tags%}
        <a href="{{ url_for('main.tag', tag=tag.name) }}">
          <span class="tag is-warning tag-page">{{ tag.name }}</span>
        </a>
      {% endfor %}
    </div>
  {% endif %}
{% endif %}

{% block js %}
  {% if md_body %}
    <script src={{ url_for( "static", filename="scripts/article-index.js" ) }} charset="utf-8 "></script>
  {% endif %}
  <!-- codefund -->
  <script src="https://codefund.io/scripts/832a4559-4eb7-459d-a17e-0d530dfa3ddd/embed.js?template=centered"></script>
{% endblock js %}