<!-- pysheet -->
<div class="card">
  <div class="card-content">
    <h1 class="subtitle">PySheet</h1>
    <div class="content">
      <ul>
        <li>
          <a class="is-size-6" href="#">Online</a>
        </li>
        <li>
          <a class="is-size-6" href="#">PDF</a>
        </li>
        <li>
          <a class="is-size-6" href="#">Jupyper Notebook</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<br>

<!-- last articles -->
<div class="card">
  <div class="card-content">
    <h1 class="subtitle">Last Articles</h1>
    <div class="content">
      <table>
        <tbody>

          {% for post in last_posts %}
          <tr>
            <td>
              <a class="is-size-6" href="{{ url_for('main.article', id=post.id) }}">{{ post.title }}</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>