  <!-- post on mobile -->
  <div class="is-hidden-tablet">

    <!-- article title -->
    <div class="header-content art-title">
      <div class="has-text-centered">
        <h2 class="title is-2 no-h1 is-size-4-mobile">
          {{ title }}
        </h2>
      </div>
    </div>

    <!-- post body -->
    <div class="content img-cent article-body">
      <br class="is-hidden-mobile">
      <p>{{ g.md(md_body)|safe }}</p>
      <hr>
      <div class="level">

      <!-- share -->
      <div class="level-right">
        <!-- buy me a coffee -->
        <div class="level-right">
          <link href="https://fonts.googleapis.com/css?family=Cookie" rel="stylesheet">
          <a class="bmc-button has-text-centered"
            target="_blank" href="https://www.buymeacoffee.com/8owKkSBUC"><img src="https://www.buymeacoffee.com/assets/img/BMC-btn-logo.svg"
            alt="Buy me a coffee"><span style="margin-left:5px">Buy me a coffee</span>
          </a>
        </div>
    </div>
  </div>