<section>
    <div class="is-multiline is-mobile is-centered">
      <div class="is-centered img-cent max-mobile">

        <!-- post title -->
        <div class="header-content">
          <div class="has-text-centered">
            <h1 class="title is-2 no-h1 is-size-4-mobile">
              {{ post.title }}
            </h1>
          </div>
        </div>

        <!-- time and author name -->
        <div class="has-text-centered is-hidden-mobile article-botton-space">
          <p>By
            <a href="{{ url_for('main.author', username=post.author.username) }}">{{ post.author.screen_name }}</a>
            • {{ moment(post.timestamp).format('L') }} •
            <a href="{{ url_for('main.article', url=post.url) }}#comments">comments</a>
          </p>
        </div>

        <!-- article img -->
        <div>
          <img src="{{ post.img_url }}" alt="">
        </div>

        <!-- article summary -->
        <div class="content">
          <p>{{ g.md(post.summary)|safe }}</p>
          <hr class="is-hidden-mobile">
          <div class="level">
            <a class="button" href="{{ url_for('main.article', url=post.url) }}">
              Continue Reading
            </a>

            <!-- tags -->
            <div class="level is-hidden-mobile">
              <p>Tags: {% for tag in post.tag %}
                <a href="{{ url_for('main.tag', tag=tag.name) }}">
                  <span class="tag is-warning">
                    {{tag.name}}
                  </span>
                </a>
                {% endfor %}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
  <br>
  <br>
</section>