<section>
  <div class="container">
    <div class="columns is-multiline is-mobile is-centered">
      <div class="column is-8 is-centered">

        <!-- post title -->
        <div class="header-content">
          <div class="has-text-centered">
            <h1 class="subtitle is-3">
              {{ post.title }}
            </h1>
          </div>
        </div>

        <!-- time and author name -->
        <div class="has-text-centered">
          <p>By
            <a href="{{ url_for('main.author', username=post.author.username) }}">{{ post.author.screen_name }}</a>
            • {{ moment(post.timestamp).format('L') }} •
            <a href="#">0 Comments</a>
          </p>
        </div>

        <!-- post body -->
        <div class="content">
          <p>{{ post.body | truncate(400, False) | safe }}</p>
          <hr>
          <div class="has-text-centered level">
            <a class="button" href="{{ url_for('main.article', id=post.id) }}">
              Continue Reading
            </a>

            <!-- tags -->
            <div class="level">
              <p>Tags: {% for tag in post.tag %}
                <!--  -->
                <a href="{{ url_for('main.tag', tag=tag.name) }}">
                  <span class="tag is-warning">
                    {{tag.name}}
                  </span>
                </a>
                <!--  -->
                {% endfor %}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
  </div>
  <br>
</section>