{% extends "base.html" %}
<!--  -->
{% block content %}
<div class="hero-body">
  <div class="container">


    <!-- article -->
    <div class="columns is-multiline is-mobile is-centered">
      <div class="column is-8">

        <!-- delete, edit, new -->
        {% if post.author.username == current_user.username %}
        <div class="column is-4 is-offset-8">
          <div class="level">

            <!-- delete -->
            <span class="icon level-item ">
              <a class="deleteModalBtn" href="#">
                <i class="far fa-trash-alt"></i> Delete</a>
            </span>

            <!-- edit -->
            <span class="icon level-item">
              <a href="{{ url_for('dashboard.edit_post', id=post.id) }}">
                <i class="far fa-edit"></i> Edit</a>
            </span>

            <!-- new -->
            <span class="icon level-item">
              <a href="{{ url_for('dashboard.new_post') }}">
                <i class="fas fa-plus"></i> New</a>
            </span>
          </div>
        </div>
        {% endif %}

        <!-- article title -->
        <div class="header-content">
          <div class="has-text-centered">
            <h1 class="title">
              {{ post.title }}
            </h1>
          </div>
        </div>

        <!-- time and author name -->
        <div class="has-text-centered">
          <p>posted on
            <a>{{ moment(post.timestamp).format('L') }}</a> by
            <a href="{{ url_for('main.author', username=post.author.username) }}">{{ post.author.screen_name }}</a>
          </p>
          <hr/>
        </div>

        <!-- post body -->
        <div class="content">
          <p>{{ post.body | safe }}</p>

          <hr>
          <div class="has-text-centered level">


            <!-- tags -->
            <div class="level">
              <p>
                Tags:
                <a href="#">
                  <span class="tag is-warning"> python </span>
                </a>
                <a href="#">
                  <span class="tag is-warning"> flask</span>
                </a>
              </p>
            </div>
            <a class="button" onclick="window.history.back()">Back</a>
          </div>
        </div>
        <br>
        <br>
      </div>
    </div>
  </div>
</div>


<!-- delete modal -->
<div id="deleteModal" class="modal">
  <div id="modalBackground" class="modal-background"></div>
  <div class="modal-content box has-text-centered section">
    <h1 class="subtitle">Do you want to Delete {{ post.title }}</h1>
    <br>
    <div class="columns is-centered">
      <div class="column is-3">
        <form action="{{ url_for('dashboard.delete_post', id=post.id) }}" method=post>
          <input type="hidden" name="entry_id">
          <button class="button is-danger is-outlined">Delete</button>
        </form>
      </div>
      <div class="column is-3">
        <button id="cancel" class="button is-outlined">Cancel</button>
      </div>
    </div>
  </div>
  <button id="closeBtn" class="modal-close is-large" aria-label="close"></button>
</div>
{% endblock content %}