{% extends "base.html" %}
<!--  -->
{% block content %}
<link rel="stylesheet" href={{ url_for( "static", filename="css/articles.min.css" ) }}>
<div class="hero-body">
  <div class="container">

    <!-- article -->
    <div class="columns is-multiline is-mobile is-centered">
      <div class="column is-8 article max-mobile">

        <!-- delete, edit, new -->
        {% if post.author.username == current_user.username %}
        <div id="articleEdits" class="column is-4 is-offset-8 del-edit-new-hidden editor">
          <div class="level">

            <!-- delete -->
            <span class="icon level-item">
              <a id="deleteArticleBtn" class="articleDeleteModalBtn" href="javascript:void(0);">
                <i class="far fa-trash-alt"></i> Delete</a>
            </span>

            <!-- edit -->
            <span class="icon level-item">
              <a href="{{ url_for('dashboard.edit_post', url=post.url) }}">
                <i class="far fa-edit"></i> Edit</a>
            </span>

            <!-- new -->
            <span class="icon level-item">
              <a href="{{ url_for('dashboard.new_post') }}">
                <i class="fas fa-plus"></i> New</a>
            </span>
          </div>
        </div>
        {% endif %}

        <!-- article title -->
        <div class="header-content art-title">
          <div class="has-text-centered">
            <h1 class="title no-h1 is-size-4-mobile">
              {{ title }}
            </h1>
          </div>
        </div>

        <!-- time and author name -->
        <div class="has-text-centered article-botton-space">
          <p class="no-p">posted on
            <a>{{ moment(post.timestamp).format('L') }}</a> by
            <a href="{{ url_for('main.author', username=post.author.username) }}">{{ post.author.screen_name }}</a>
          </p>
        </div>

        <!-- post body -->
        <div class="content img-cent">
          <p>{{ g.md(post_body)|safe }}</p>
          <hr>
          <div class="level">

            <!-- tags -->
            <div class="level-left">
              <p>Tags: {% for tag in post.tag %}
                <!--  -->
                <a href="{{ url_for('main.tag', tag=tag.name) }}">
                  <span class="tag is-warning">
                    {{tag.name}}
                  </span>
                </a>
                <!--  -->
                {% endfor %}
              </p>
            </div>

            <!-- share -->
            <div class="level-right">

              <!-- twitter -->
              <a target="blank" href="https://twitter.com/intent/tweet?status={{title}}+{{ url_for('main.article', url=post.url, _external=True) }}"
                class="share twitter">
                <span class="icon share-icon">
                  <i class="fab fa-twitter"></i>
                </span>
              </a>

              <!-- facebook -->
              <a target="blank" href="https://www.facebook.com/share.php?u={{ url_for('main.article', url=post.url, _external=True) }}&title={{title}}"
                class="share facebook">
                <span class="icon share-icon">
                  <i class="fab fa-facebook-f"></i>
                </span>
              </a>

              <!-- google -->
              <a target="blank" href="https://plus.google.com/share?url={{ url_for('main.article', url=post.url, _external=True) }}" class="share google">
                <span class="icon share-icon">
                  <i class="fab fa-google"></i>
                </span>
              </a>
            </div>
          </div>
        </div>

        <!-- github issues as comments -->
        <!-- <div id="comments">
          <script src="https://utteranc.es/client.js" repo="wilfredinni/pysheetComments" issue-term="title" async>
          </script>
        </div> -->
        <div id="codefund_ad"></div>
        <br>
        <br>
        <script src="https://codesponsor.io/scripts/832a4559-4eb7-459d-a17e-0d530dfa3ddd/embed.js?template=centered&theme=light"></script>

        <div id="disqus_thread" class="box">
          <div id="comments"></div>
          <script>
            (function () { // DON'T EDIT BELOW THIS LINE
              var d = document,
                s = d.createElement('script');
              s.src = 'https://python-cheatsheet.disqus.com/embed.js';
              s.setAttribute('data-timestamp', +new Date());
              (d.head || d.body).appendChild(s);
            })();
          </script>
          <noscript>Please enable JavaScript to view the
            <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
          </noscript>
        </div>

      </div>
    </div>
  </div>
</div>

<!-- delete modal -->
<div id="deleteModal" class="modal">
  <div id="articleModalBackground" class="modal-background"></div>
  <div class="modal-content box has-text-centered section">
    <h1 class="subtitle">Do you want to Delete {{ post.title }}?</h1>
    <br>
    <div class="columns is-centered">
      <div class="column is-3">
        <form action="{{ url_for('dashboard.delete_post', url=post.url) }}" method=post>
          <input type="hidden" name="entry_id">
          <button class="button is-danger is-outlined">Delete</button>
        </form>
      </div>
      <div class="column is-3">
        <button id="cancel" class="button is-outlined">Cancel</button>
      </div>
    </div>
  </div>
  <button id="closeBtn" class="modal-close is-large" aria-label="close"></button>
</div>
{% endblock content %}