{% extends "base_sidebar.html" %}

{% block seo %}
  <link rel="canonical" href="https://www.pythoncheatsheet.org/blog">
  <meta property="og:url" content="https://www.pythoncheatsheet.org/blog">
  <meta name="description" content="Python cheat sheet and Articles for Beginner and Advanced Python Developers. This blog tries to provide a basic reference for beginner and advanced developers, lower the entry barrier for newcomers and help veterans refresh the old Python tricks.">
  <meta property="og:description" content="Python cheat sheet and Articles for Beginner and Advanced Python Developers. This blog tries to provide a basic reference for beginner and advanced developers, lower the entry barrier for newcomers and help veterans refresh the old Python tricks.">
  <meta name="twitter:description" content="Python cheat sheet and Articles for Beginner and Advanced Developers." />
{% endblock seo %}

{% block stylesheet %}
  <link rel="stylesheet" href="{{ url_for( "static", filename="css/carbon-blog.min.css" ) }}">
{% endblock stylesheet %}



  {% block main_column %}
    <h1 class="is-hidden-tablet is-hidden-mobile">Blog Python Cheat sheet</h1>
    <br>
    <div class="is-hidden-mobile">
      {% for post in all_posts.items %}
        {% include 'main/_post.html' %}
      {% endfor %}
    </div>
  {% endblock main_column %}


{% block side_column %}
  {% include 'main/_default_sidebar.html' %}

  <!-- load the posts in the sidebar only in mobil view -->
  <div class="is-hidden-tablet">
    {% for post in all_posts.items %}
      {% include 'main/_post.html' %}
    {% endfor %}
  </div>
{% endblock side_column %}

{% block empty_blog %}
  {% if blog_posts|length == 0 %}
  <section class="section">
    <h1 class="title is-1 has-text-centered blog-no-posts">Nothing Yet 🙄</h1>
  </section>
  {% endif %}
{% endblock empty_blog %}

{% block pagination %}
  {% include 'main/_pagination.html' %}
{% endblock pagination%}


