{% extends "base.html" %}

<!-- -->
{% block content %}
<link rel="stylesheet" href={{ url_for( "static", filename="css/cheatsheet.css" ) }}>

<!-- search modal -->
<div id="search-modal">
  <div class="search-content">

    <!-- search bar -->
    <div class="field no-mb">
      <spam class="control has-icons-left">
        <input id="search-bar" class="input search-bar" type="search" placeholder="Search">
        <span class="icon is-small is-left">
          <i class="fas fa-search"></i>
        </span>
      </spam>
    </div>

    <!-- search title -->
    <div id="search-message" class="search-message">
      Type to start searching
    </div>

    <!-- search title (clear search bar) -->
    <div style="display:none" id="clear-message" class="search-message">
      <span class="icon is-small">
        <i class="fas fa-times"></i>
      </span>
      Clear Search...
    </div>

    <!-- results -->
    <div id="results"></div>

  </div>
</div>

<div class="section container">
  <div class="columns is-tablet">
    <!-- index -->
    <div id="index" class="column is-one-quarte ">
      <h2 class="index">Index</h2>
      {{ index|safe }}
    </div>

    <!-- pysheet -->

    <div class="column is-9 cheat">

      <!-- pinned notification -->
      <div id="notification" class="notification pin-notify is-hidden-mobile">
        <button id="close-notification" class="delete"></button>
        <div>
          Anyone can forget how to make
          <a href="#Making-Your-Own-Character-Classes">character classes for a regex</a>. Sometimes I even forget how to
          <a href="#Getting-Sublists-with-Slices">slice a list</a> or do a
          <a href="#Using-for-Loops-with-Lists">for loop</a> 🙄. This cheatsheet tries to provide a basic reference for beginner and advanced 🐍 developers. We
          want to lower the entry barrier for newcomers and help seasoned veterans pick up new tricks and remember old ones.
          <br>
          <br>
          <div>
            Use
            <strong>ctr/cmd+z</strong> to open the quick search. And don't forget, all
            <a href="{{ url_for('main.contribute') }}">contributions</a> are welcome! ❤
          </div>
        </div>
      </div>

      <div>
        {{ pysheet|safe }}
      </div>
    </div>
  </div>
</div>

<button id="scroll" class="material-scrolltop" type="scroll" title="Back to top">
  <i class="fas fa-chevron-up"></i>
</button>

<script src={{ url_for( "static", filename="scripts/scroll.js" ) }} charset="utf-8 "></script>
<script src={{ url_for( "static", filename="scripts/search.js" ) }} charset="utf-8 "></script>

{% endblock content%}