{% extends "base.html" %}

<!-- -->
{% block content %}
<link rel="stylesheet" href={{ url_for( "static", filename="css/cheatsheet.min.css" ) }}>

<!-- search modal -->
<div id="search-modal">
  <div class="search-content">

    <!-- search bar -->
    <div class="field no-mb">
      <spam class="control has-icons-left">
        <input id="search-bar" class="input search-bar" type="search" placeholder="Search">
        <span class="icon is-small is-left">
          <i class="fas fa-search"></i>
        </span>
      </spam>
    </div>

    <!-- search title -->
    <div id="search-message" class="search-message">
      Type to start searching
    </div>

    <!-- search title (clear search bar) -->
    <div style="display:none" id="clear-message" class="search-message">
      <span class="icon is-small">
        <i class="fas fa-times"></i>
      </span>
      Clear Search...
    </div>

    <!-- results -->
    <div id="results"></div>

  </div>
</div>

<div class="section container">
  <div class="columns is-tablet">
    <!-- index -->
    <div id="index" class="column is-one-quarte ">
      <h2 class="index">Index</h2>
      <!-- g.md from before_request -->
      {{ g.md(index)|safe }}
    </div>

    <!-- pysheet -->
    <div class="column is-9 cheat">

      <!-- pinned notification -->
      {% if pinned_msg.home_msg %}
      <!--  -->
      {% if pinned_msg.home_enable %}
      <div id="pysheetNotification" class="notification pin-notify is-hidden-mobile">
        <button id="pysheetCloseNotification" class="delete"></button>
        <div>
          {{ g.md(pinned_msg.home_msg)|safe }}
        </div>
      </div>
      {% endif %}
      <!--  -->
      {% endif %}

      <!-- pysheet content -->
      <div>
        <!-- g.md from before_request -->
        {{ g.md(pysheet)|safe }}
      </div>
    </div>
  </div>
</div>

<!-- quick search -->
<button id="search-icon" class="material-search" title="Quick Search - ctrl/cmd+z">
  <i class="fas fa-search"></i>
</button>

<!-- scroll top -->
<button id="scroll" class="material-scrolltop" type="scroll" title="Back to top">
  <i class="fas fa-chevron-up"></i>
</button>

<script src={{ url_for( "static", filename="scripts/scroll.min.js" ) }} charset="utf-8 "></script>
<script src={{ url_for( "static", filename="scripts/search.min.js" ) }} charset="utf-8 "></script>

{% endblock content%}