{% extends "base.html" %}

{% block seo %}
  <link rel="canonical" href="https://www.pythoncheatsheet.org">
  <meta property="og:url" content="https://www.pythoncheatsheet.org">
  <meta name="description" content="Welcome to Python Cheatsheet. Any Python developer can forget how to do a for loop. This Python cheat sheet tries to provide a basic reference for beginner and advanced Python developers, lower the entry barrier for newcomers and help veterans refresh the old Python tricks.">
  <meta property="og:description" content="Welcome to Python Cheatsheet. Any Python developer can forget how to do a for loop. This Python cheat sheet tries to provide a basic reference for beginner and advanced Python developers, lower the entry barrier for newcomers and help veterans refresh the old Python tricks.">
  <meta name="twitter:description" content="Python cheat sheet and Articles for Beginner and Advanced Developers." />
{% endblock seo %}

{% block stylesheet %}
  <link rel="stylesheet" href={{ url_for( "static", filename="css/carbon-index.min.css" ) }}>
{% endblock stylesheet %}

{% block content %}
<!-- search modal -->
<div id="search-modal">
  <div class="search-content">

    <!-- search bar -->
    <div class="field no-mb">
      <spam class="control has-icons-left">
        <input id="search-bar" class="input search-bar" type="search" placeholder="Search">
        <span class="icon is-small is-left">
          <i class="fas fa-search"></i>
        </span>
      </spam>
    </div>

    <!-- search title -->
    <div id="search-message" class="search-message">
      Type to start searching
    </div>

    <!-- search title (clear search bar) -->
    <div style="display:none" id="clear-message" class="search-message">
      <span class="icon is-small">
        <i class="fas fa-times"></i>
      </span>
      Clear Search...
    </div>

    <!-- results -->
    <div id="results"></div>

  </div>
</div>

<div class="section container">
  <div class="columns is-tablet">

    <!-- index -->
    <div id="index" class="column">
      <div class="fixed-index" id="style-1">
        <h4 class="title is-5 index">Table of Content</h4>
        <ul id="indexList"></ul>
      </div>
    </div>

    <!-- pysheet -->
    <div class="column is-8 cheat">
      <!-- pinned notification -->
      {% if pinned_msg.home_msg %}
        {% if pinned_msg.home_enable %}
        <div id="pysheetNotification" class="content notification pin-notify is-hidden-mobile">
          <button id="pysheetCloseNotification" class="delete"></button>
          <div>
            {{ g.md(pinned_msg.home_msg)|safe }}
          </div>
        </div>
        {% endif %}
      {% endif %}

      <div id="codefund_ad" class="index-ad"></div>

      <!-- pysheet content -->
      <div class="content">
        {{ g.md(pysheet)|safe }}
      </div>
    </div>
  </div>
</div>

<!-- quick search -->
<button id="search-icon" class="material-search" title="Quick Search - ctrl/cmd+z">
  <i class="fas fa-search"></i>
</button>

<!-- scroll top -->
<button id="scroll" class="material-scrolltop" type="scroll" title="Back to top">
  <i class="fas fa-chevron-up"></i>
</button>

<!-- bottom notification -->
{% include 'main/_bottom_notification.html' %}

{% endblock content%}

{% block js %}
  <!-- scroll up and search -->
  <script src={{ url_for( "static", filename="scripts/scroll.min.js" ) }} charset="utf-8 "></script>
  <script src={{ url_for( "static", filename="scripts/search.min.js" ) }} charset="utf-8 "></script>

  <!-- addthis javascript -->
  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5b05cb2ae9e75f31"></script>

  <!-- addthis customize -->
  <script type="text/javascript">
    var addthis_share = {
      url: "www.pythoncheatsheet.org",
      title: "{{ title }}",
    };
  </script>
{% endblock js %}