{% extends "base.html" %}

{% block seo %}
  <link rel="canonical" href="https://www.pythoncheatsheet.org/blog/tag/{{tag.name}}">
  <meta property="og:url" content="https://www.pythoncheatsheet.org/blog">
  <meta name="description" content="Python cheatsheet - Tag: {{tag.name}}. Articles for Beginner and Advanced Developers. This blog tries to provide a basic reference for beginner and advanced developers, lower the entry barrier for newcomers and help veterans refresh the old tricks.">
  <meta property="og:description" content="Python cheatsheet - Tag: {{tag.name}}. Articles for Beginner and Advanced Developers. This blog tries to provide a basic reference for beginner and advanced developers, lower the entry barrier for newcomers and help veterans refresh the old tricks.">
  <meta name="twitter:description" content="Python cheat sheet and Articles for Beginner and Advanced Developers." />
{% endblock seo %}

{% block content %}
<section>
  <!-- tags -->
  <section class="column is-6 has-text-centered">
    Tag:
    <span class="tag is-warning">
      {{tag.name}}
    </span>
  </section>

  <!-- articles -->
  <div class="section">
    {% for post in posts %}
      {% include 'main/_post.html' %}
    {% endfor %}
  </div>
</section>
{% endblock content %}