.config-title {
    border-bottom: solid 1px #cccccc;
}

.pinned-msg {
    background: transparent;
    border: none;
    width: 100%;
    height: auto;
    color: #4a4a4a;
}

.submit-button {
    color: #3d596d;
    padding: 10px 20px 10px 20px;
    border: solid #3d596d 1px;
    text-decoration: none;
    background: #fff;
    border-radius: 4px;
}