.config-title {
    border-bottom: solid 1px #cccccc;
    cursor: pointer;
}

.pinned-msg {
    background: transparent;
    border: none;
    color: #4a4a4a;
    height: auto;
    width: 100%;
}

.submit-button {
    background: #fff;
    border: solid #3d596d 1px;
    border-radius: 4px;
    color: #3d596d;
    margin-bottom: 1.5rem;
    margin-top: 1rem;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.pin-msg-home {
    display: none;
}