.text-field {
    width: 100%;
    height: 3.1rem;
    border: none;
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    color: #2e4453;
}

.textarea-field {
    width: 100%;
    border: none;
    margin-bottom: 1.5rem;
    color: #3d596d;
}

.tags-field {
    height: 2.25rem;
    width: 100%;
    color: #3d596d;
    /* margin-bottom: 1.5rem; */
    border: none;
}

.submit-button {
    color: #3d596d;
    padding: 10px 20px 10px 20px;
    border: solid #3d596d 1px;
    text-decoration: none;
    background: #fff;
    margin-left: 1rem;
    border-radius: 4px;
}

.submit-button:hover {
    background: #f5f5f5;
    text-decoration: none;
    cursor: pointer;
}

::placeholder {
    color: #879dad;
}

.text-field-profile {
    border: none;
    border-bottom: solid;
    border-width: 1px;
    border-color: #dde0e2;
    width: 100%;
    height: 2.25rem;
    color: #3d596d;
    font-size: 1.7rem;
    margin-bottom: 1.5rem;
}

.text-field-web {
    border: none;
    border-bottom: solid;
    border-width: 1px;
    border-color: #dde0e2;
    width: 100%;
    height: 2.25rem;
    color: #3d596d;
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
}

.text-field-addUser {
    width: 100%;
    height: 2.5rem;
    border: none;
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    margin-left: 2rem;
    color: #2e4453;
    border-bottom: solid 1px;
}

.form-checkbox {
    margin-left: 2rem;
    margin-bottom: 1.5rem;
}

.addUser-form {
    margin-left: 2rem;
}