.forkme {
  z-index: 1000;
  position: fixed;
  top: 0;
  right: 0;
  border: 0;
}

.navbar-end {
  padding-right: 140px;
}

.navbar-brand {
  padding-left: 70px;
}

.material-scrolltop {
  display: block;
  position: fixed;
  bottom: 23px;
  right: 23px;
  padding: 0;
  overflow: hidden;
  outline: none;
  border: none;
  border-radius: 50%;
  background: #ffdd57;
  width: 40px;
  height: 40px;
  animation: openModal;
  animation-duration: 1s;
}

.material-scrolltop:hover {
  background-color: #fad028;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
}

#search-modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 30;
  /* overflow: auto; */
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.search-content {
  margin: 60px auto;
  width: 50%;
  border: solid;
  border-width: 1px;
  border-color: #dcdcdc;
  border-radius: 5px;
  background: white;
  animation: openModal;
  animation-duration: 0.3s;
}

.search-bar {
  border: none;
  height: 40px;
  padding: 0 0 0 34px;
  position: relative;
  width: 100%;
  font-size: 1rem;
  color: rgb(219, 217, 217);
}

.search-bar:focus {
  color: rgb(63, 63, 63);
}

.search-message {
  background-color: #ededed;
  padding-left: 35px;
  line-height: 40px;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.54);
  border-bottom: solid;
  border-top: solid;
  border-width: 1px;
  border-color: #dcdcdc;
}

#search-message {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#clear-message {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.results_a {
  font-size: 14px;
  color: #757575;
  line-height: 40px;
}

.results_p {
  padding-left: 35px;
}

.results_p:hover {
  background: #f7f8a9;
}

.search-field {
  background-color: #164fac;
  border: none;
  border-radius: 3px;
  height: 37px;
  width: 200px;
  padding: 0 0 0 34px;
  position: relative;
  font-size: 1rem;
  color: rgb(219, 217, 217);
  -webkit-transition: width 0.25s ease, background 0.25s ease;
  transition: width 0.25s ease, background 0.25s ease;
}

.search-field:hover {
  background-color: #96b8ee;
  color: gray;
}

.search-field:focus {
  color: rgb(63, 63, 63);
  background-color: #96b8ee;
  border: none;
  border-radius: 3px;
}

.article-botton-space {
  margin-bottom: 3%;
}

.check-space {
  margin-top: 3%;
  margin-bottom: 3%;
}

:target:before {
  /* manage space for hash links */
  content: "";
  display: block;
  height: 60px;
  /* fixed header height*/
  margin: -60px 0 0;
  /* negative fixed header height */
}

.notification-modal {
  /* display: none; */
  position: fixed;
  right: 30%;
  top: 9%;
  width: 40%;
  height: auto;
  z-index: 1001;
}

.img-cent img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.p-sheet-nav {
  display: none !important;
}

.navbar-burger {
  color: #ffffff;
}

.share {
  border: solid;
  border-width: 1px;
  border-radius: 3px;
  margin-right: 0.75rem;
}

.share-icon {
  padding: 0.9rem !important;
}

.facebook {
  color: #3c5a9a;
}

.facebook:hover {
  color: white;
  background: #3c5a9a;
}

.twitter {
  color: #03acef;
}

.twitter:hover {
  color: white;
  background: #03acef;
}

.google {
  color: #dc4b3a;
}

.google:hover {
  color: white;
  background: #dc4b3a;
}

.tags-div {
  margin-right: 25%;
}

.share-div {
  margin-left: 25%;
}

.art-title {
  padding-top: 3%;
}

.footer {
  padding: 3rem 1.5rem 3rem;
}

.footer-icon {
  padding: 1.5rem;
  border: solid;
  border-width: 1px;
  border-color: #4c421a3b;
  margin: 0 1%;
}

.footer-social {
  padding: 1.7rem !important;
}

.footer-nav {
  line-height: 1.7rem !important;
}

.footer-copyright {
  margin-bottom: 0.5rem !important;
}

@keyframes openModal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .max-mobile {
    width: 95% !important;
  }
}

@media (max-width: 1088px) {
  .hide-ribbon {
    display: none;
  }
  .hidden-logo {
    display: none !important;
  }
  .navbar-brand {
    padding-left: 0px;
  }
  .p-sheet-nav {
    padding-left: 8%;
    display: block !important;
  }
  .sing-in-resp {
    margin: 0 !important;
  }
}

@media (max-width: 1279px) {
  .del-edit-new-hidden {
    display: none;
  }
}