#forkme {
    z-index: 1000;
    position: fixed;
    top: 0;
    right: 0;
    border: 0;
}

.navbar-end {
    padding-right: 135px;
}

.navbar-brand {
    padding-left: 60px;
}

.material-scrolltop {
    display: block;
    position: fixed;
    width: 0;
    height: 0;
    bottom: 23px;
    right: 23px;
    padding: 0;
    overflow: hidden;
    outline: none;
    border: none;
    border-radius: 2px;
    /* box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5); */
    cursor: hand;
    border-radius: 50%;
    background: #ffdd57;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-transition: all 0.3s cubic-bezier(0.25, 0.25, 0, 1);
    -ms-transition: all 0.3s cubic-bezier(0.25, 0.25, 0, 1);
    -moz-transition: all 0.3s cubic-bezier(0.25, 0.25, 0, 1);
    -o-transition: all 0.3s cubic-bezier(0.25, 0.25, 0, 1);
    transition: all 0.3s cubic-bezier(0.25, 0.25, 0, 1);
    width: 40px;
    height: 40px;
}

.material-scrolltop:hover {
    background-color: #fad028;
    text-decoration: none;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
}

.material-scrolltop,
.material-scrolltop::before {
    background-image: url(icons/top-arrow.svg);
    background-position: center 50%;
    background-repeat: no-repeat;
}