 /* The switch - the box around the slider */

 .switch {
     display: inline-block;
     height: 1.5rem;
     position: relative;
     width: 3rem;
 }

 /* Hide default HTML checkbox */

 .switch input {
     display: none;
 }

 /* The slider */

 .slider {
     -webkit-transition: .4s;
     background-color: #ccc;
     bottom: 0;
     cursor: pointer;
     left: 0;
     position: absolute;
     right: 0;
     top: 0;
     transition: .4s;
 }

 .slider:before {
     -webkit-transition: .4s;
     background-color: white;
     bottom: 4px;
     content: "";
     height: 1rem;
     left: 4px;
     position: absolute;
     transition: .4s;
     width: 1rem;
 }

 input:checked+.slider {
     background-color: #2196F3;
 }

 input:focus+.slider {
     box-shadow: 0 0 1px #2196F3;
 }

 input:checked+.slider:before {
     -webkit-transform: translateX(26px);
     -ms-transform: translateX(26px);
     transform: translateX(26px);
 }

 /* Rounded sliders */

 .slider.round {
     border-radius: 34px;
 }

 .slider.round:before {
     border-radius: 50%;
 }