<section class="box">
    <p class="title has-text-centered">{{ post.title }}</p>

    <div class="level is-mobile">
        <!-- date and author -->
        <p> {{ moment(post.timestamp).format('L') }} By
            <a href="{{ url_for('main.author', username=post.author.username) }}">{{ post.author.screen_name }}</a>
        </p>
    </div>
    <p class="subtitle">{{ post.body }}
    </p>
    <div class="buttons has-addons">
        <span class="button is-primary">Read More</span>
    </div>
</section>