<section class="box">
    <p class="title has-text-centered">{{ post.title }}</p>

    <div class="level is-mobile">

        <!-- date -->
        <div class="level">
            <p class="level-item ">
                <p>{{ post.timestamp }} </p>
            </p>

            <!-- author -->
            <p class="level-item">
                <a href="{{ url_for('main.author', username=post.author.username) }}">{{ post.author.screen_name }}</a>
            </p>

        </div>
    </div>
    <p>{{ post.body }}
        <a class=" is-info">Read more</a>
    </p>
    <br>


</section>